@layer theme, base, components, utillites;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utillites);

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));
